.image-container {
  display: flex;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1b1c22;
}

.central-container {
  background-color: #334155;
}
